{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-transform-runtime", "istanbul", "transform-class-properties"],
    "env": {
        "test": {
          "plugins": ["istanbul"]
        }
      }
}